#text{
    margin-top:30px;
}
#lorem{
    font-size: 1.1rem;
}
#sidebar{
    background-color: #AE002B;
    color: white;
    padding-top:70px;
}
#login{
    color: gray;
}
.flex-center1{
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    height:100%
}
#explore{
    /* font-size: 100px; */
}